.joblist-nav {
  width: 100%;
}
.company-logo a{
  width: 178px;
  height: 46px;
  display: block;
  background: transparent url("../../assets/logo-with20.svg") no-repeat scroll 0 0/100%;
  white-space: nowrap;
  overflow: hidden;
}
.nav-title {
  margin-left: 20px;
  font-weight: 500;
  color: rgba(0,0,0,.87);
}

@media screen and (max-width: 900px) {
  .company-logo a {
    width: 89px;
    height:  23px;
  }
  .nav-title {
    font-size: small;
  }
}

