<div class="login-form">
  <app-message [alert]="true"></app-message>
  <mat-grid-list cols="1" rowHeight="100px">
    <mat-grid-tile>
      <mat-form-field>
        <input matInput placeholder="User Name" (keyup)="onUidKey($event)" required>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" (keyup)="onPwdKey($event)" required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="button-row">
        <button mat-raised-button color="primary" (click)="onSubmit()"> Login </button>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<app-spinner-cover [hidden]="spinnerHide"></app-spinner-cover>
