<div *ngIf="job">
  <mat-list>
    <mat-list-item>Job Name: {{job.Job_Name}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Job GetData_day: {{job.GetData_day}}</mat-list-item>
    <mat-list-item>Job Data_Type: {{job.Data_Type}}</mat-list-item>
    <mat-list-item>Job Data_Sub_Type: {{job.Data_Sub_Type}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Job Last_StartTime: {{job.Last_StartTime}}</mat-list-item>
    <mat-list-item>Job Last_Tx_Dt: {{job.Last_Tx_Dt}}</mat-list-item>
    <mat-list-item>Job Last_EndTime: {{job.Last_EndTime}}</mat-list-item>
  </mat-list>
  <button (click)="goBack()">go back</button>
</div>
